---
name: home.term-list
url: terms
---

<!-- sub-title bar -->
<div class="title-bar entries-title-bar">
  <div class="center title">Terms (MOCK DATA)</div>
</div>

<!-- terms list -->
<div ng-if="!main.isLoggedIn()">
  You are not logged in.
</div>

<div ng-if="main.isLoggedIn()">
  <div class="card">
    <div class="card-section">
      <h5>Spring 2016 (MOCK DATA)</h5>
      <div class="text-muted">
        <p>Jan 3, 2016 - Mar 20, 2016</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-section">
      <h5>Winter 2016 (MOCK DATA)</h5>
      <div class="text-muted">
        <p>Jan 3, 2016 - Mar 20, 2016</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-section">
      <h5>Fall 2015 (MOCK DATA)</h5>
      <div class="text-muted">
        <p>Sep 21, 2015 - Dev 12, 2015</p>
      </div>
    </div>
  </div>
</div>
