---
name: home.term-list
url: terms
controller: TermsCtrl as vm
---

<!-- sub-title bar, no auth -->
<div class="title-bar entries-title-bar" ng-if="!main.isLoggedIn()" ng-cloak>
  <div class="center title">
    Not Authorized
  </div>
</div><!-- /sub-title bar, no auth -->

<!-- sub-title bar, auth -->
<div class="title-bar entries-title-bar" ng-if="main.isLoggedIn()" ng-cloak>
  <div class="center title" zf-open="navModal">
    Terms
  </div>
  <!-- terms modal button -->
  <span class="right">
    <img class="iconic-color-secondary"
         zf-iconic="" icon="action" size="small"
         zf-open="entryActionsModal">
  </span>
</div><!-- /sub-title bar, auth -->


<div not-logged-in></div>


<!-- terms list, auth -->
<div ng-if="main.isLoggedIn()" ng-init="vm.initListView()">
  <!-- term details item -->
  <div class="card list-view-card" ng-repeat="term in vm.entries | orderBy:'-startDate'"
       ui-sref="home.term-detail({ id: term.id })">
    <div class="card-section">
      <h5 ng-bind="term.name"></h5>
      <div class="text-muted">
        <span ng-bind="term.startDate | date"></span> -
        <span ng-bind="term.endDate | date"></span>
      </div>
    </div>
  </div><!-- /terms list, auth -->
</div>
<div ng-include="'templates/modals/term-list-actions.html'"></div>
