---
name: home.term-create
url: terms/create
controller: TermsCtrl as vm
---

<!-- sub-title bar -->
<div class="title-bar entries-title-bar">
  <div class="center title">Add a Term</div>
</div>


<div class="grid-block align-center">
  <div class="grid-content medium-6">

    <!-- terms list, no-auth -->
    <div ng-if="!main.isLoggedIn()">
      <p>You are not logged in.</p>
    </div><!-- /terms list, no-auth -->

    <!-- term create form, auth -->
    <div class="card form-card" ng-if="main.isLoggedIn()" ng-init="vm.initCreateView()">
      <div class="card-divider">
        Term Details
      </div>
      <div class="card-section">
        <div ng-include="'templates/forms/term-form.html'"></div>
      </div>
    </div><!-- /card -->
  </div>
</div>
