---
name: home.account
url: account
controller: AuthCtrl as vm
---

<!-- sub-title bar -->
<div class="title-bar entries-title-bar">
  <div class="center title">Account</div>
</div>


<div class="grid-block align-center">
  <div class="grid-content medium-6">

    <!-- login form, for non-authenticated users -->
    <div class="card form-card" ng-if="!vm.isLoggedIn()" ng-cloak>
      <div class="card-divider">Login</div>
      <div class="card-section">
        <div ng-include="'templates/forms/login-form.html'"></div>
      </div>
    </div>

    <!-- account/settings, for authenticated users -->
    <div class="card form-card" ng-if="vm.isLoggedIn()" ng-cloak>
      <div class="card-divider">
        Account
      </div>
      <div class="card-section">
        <p><strong>Email: </strong><span ng-bind="vm.userEmail()"></span></p>
        <p><strong>Display name: </strong><span ng-bind="vm.userName()"></span></p>
        <p><strong>Session expires: </strong>TODO: Show session exp. date</p>
        <br>
        <button class="button success" ng-click="vm.logout()">Logout</button>
      </div><!-- /card section --->
    </div><!-- /card for auth view --->

  </div>
</div>
