<section class="block-list">
  <ul>
    <li>
      <a href="#" ui-sref="home.entry-list" zf-close=""
         ui-sref-active="main-menu-active">
        Entries
      </a>
    </li>
    <li>
      <a href="#" ui-sref="home.course-list" zf-close=""
         ui-sref-active="main-menu-active">
        Courses
      </a>
    </li>
    <li>
      <a href="#" ui-sref="home.term-list" zf-close=""
         ui-sref-active="main-menu-active">
        Terms
      </a>
    </li>
    <li>
      <a href="#" ui-sref="home.account" zf-close=""
         ui-sref-active="main-menu-active">
        Account
      </a>
    </li>
  </ul>
</section>
