<!-- entries list, no-auth -->
<div ng-if="show">
  <div class="grid-block align-center">
    <div class="grid-content medium-6">

      <div class="card form-card">
        <div class="card-section">

          <h4>You are not logged in.</h4>
          <p>Please use the link below to log in.</p>
          <br>
          <button class="button expand" ui-sref="home.account">Go to login</button>

        </div>
      </div><!-- /card -->

    </div><!-- /grid-block -->
  </div><!-- /grid-content -->
</div><!-- /entries list, no-auth -->
