---
name: home.course-update
url: courses/update/:id
controller: CoursesCtrl as vm
---

<!-- sub-title bar -->
<div class="title-bar entries-title-bar">
  <div class="center title">
    Update Course:
    <span ng-bind="::vm.entry.name"></span>
  </div>
  <!-- link back to courses list -->
  <span class="left">
    <a href="" ui-sref="home.course-detail({ id: vm.entry.id })">
      <img zf-iconic="" icon="chevron" data-direction="left" size="small"
           class="iconic-color-secondary icon-white">
      Cancel
    </a>
  </span>
</div>
<br>


<div class="grid-block align-center">
  <div class="grid-content medium-6">

    <!-- courses list, no-auth -->
    <div ng-if="!main.isLoggedIn()">
      <p>You are not logged in.</p>
    </div><!-- /courses list, no-auth -->

    <!-- course create form, auth -->
    <div class="card form-card" ng-if="main.isLoggedIn()" ng-init="vm.initUpdateView()">
      <div class="card-divider">
        Course Details
      </div>
      <div class="card-section">
        <div ng-include="'templates/forms/course-form.html'"></div>
      </div>
    </div><!-- /course create form, auth -->
  </div>
</div>
