---
name: home.course-list
url: courses
---

<!-- sub-title bar -->
<div class="title-bar entries-title-bar">
  <div class="center title">Courses (MOCK DATA)</div>
</div>

<div ng-if="!main.isLoggedIn()">
  You are not logged in.
</div>

<!-- courses list -->
<div ng-if="main.isLoggedIn()">
  <div class="title-bar content-subtitle content-subtitle-first">
    <div class="left title">Spring 2016 (MOCK DATA)</div>
  </div>
  <div class="card">
    <div class="card-section">
      <h5>CIS-195P</h5>
      <p class="text-muted">Intro to PHP Web Development</p>
    </div>
  </div>
  <div class="card">
    <div class="card-section">
      <h5>CIS-233W</h5>
      <p class="text-muted">Java for Web Developers II</p>
    </div>
  </div>
  <div class="card">
    <div class="card-section">
      <h5>CIS-233N</h5>
      <p class="text-muted">Intermediate C#.NET Programming</p>
    </div>
  </div>

  <div class="title-bar content-subtitle">
    <div class="left title">Winter 2016 (MOCK DATA)</div>
  </div>
  <div class="card">
    <div class="card-section">
      <h5>CIS-133W</h5>
      <p class="text-muted">Java for Web Developers I</p>
    </div>
  </div>
</div>
