---
name: home.course-list
url: courses
controller: CoursesCtrl as vm
---

<!-- sub-title bar, no auth -->
<div class="title-bar entries-title-bar" ng-if="!main.isLoggedIn()" ng-cloak>
  <div class="center title">
    Not Authorized
  </div>
</div><!-- /sub-title bar, no auth -->

<!-- sub-title bar, auth -->
<div class="title-bar entries-title-bar" ng-if="main.isLoggedIn()" ng-cloak>
  <div class="center title" zf-open="navModal">
    Courses
  </div>
  <!-- 'courses modal' open button -->
  <span class="right">
    <img class="iconic-color-secondary"
         zf-iconic="" icon="action" size="small"
         zf-open="entryActionsModal">
  </span>
</div><!-- /sub-title bar, auth -->


<div not-logged-in></div>


<!-- courses list -->
<div ng-if="main.isLoggedIn()" ng-init="vm.initListView()">
  <div ng-if="vm.entries.length" ng-hide="vm.working" ng-cloak>
    <div ng-repeat="term in vm.entries | orderBy:'-startDate'">

      <!-- term separator bar -->
      <div class="title-bar content-subtitle"
           ng-class="{ 'content-subtitle-first': $first }">
        <div class="left title" ng-bind="term.name"></div>
      </div>

      <!-- course details card -->
      <div class="card list-view-card" ng-repeat="course in term.courses"
           ui-sref="home.course-detail({ id: course.id })">
        <div class="card-section">
          <h5>
            <span ng-bind="course.name"></span>
            <br>
            <span class="text-muted" ng-bind="course.fullName"></span>
          </h5>
        </div>
      </div>

    </div><!-- /terms repeat -->
  </div>
</div>
<div ng-include="'templates/modals/course-list-actions.html'"></div>
