---
name: home.entry-list
url: entries
controller: EntriesCtrl as vm
---

<!-- sub-title bar -->
<div class="title-bar entries-title-bar">
  <div class="center title" zf-open="termSelectModal">
    <a href="" ng-bind="!vm.working && vm.activeTerm.name" ng-if="vm.activeTerm" ng-cloak></a>
    <a href="" ng-if="!vm.working && !vm.activeTerm" ng-cloak>Select Term</a>
  </div>
  <span class="right">
    <a href="" zf-open="entryActionsModal">
      <strong>Actions</strong>
    </a>
  </span>
</div><!-- /sub-title bar -->


<!-- entries list, no-auth -->
<div ng-if="!main.isLoggedIn()">
  You are not logged in.
</div><!-- /entries list, no-auth -->


<!-- entries list, auth -->
<div ng-if="main.isLoggedIn()" ng-init="vm.initListView()">
  <div ng-repeat="week in vm.weekContainers | orderBy:'-number'">

    <!-- week number display as divider -->
    <div class="title-bar content-subtitle"
         ng-class="{ 'content-subtitle-first': $first }"
         ng-click="vm.toggleWeekHidden(week.weekNumber)">
      <div class="left title">
        Week <span ng-bind="week.weekNumber"></span> |
        <span ng-if="!week.complete" ng-cloak>
          <span ng-bind="week.finishedCount"></span> /
          <span ng-bind="week.entryCount"></span> finished
        </span>
        <span ng-if="week.complete" ng-cloak>
          Done!
        </span>
      </div>
    </div><!-- /week  divider -->

    <!-- week body -->
    <div ng-hide="week.hidden" ng-cloak>
      <div ng-repeat="course in week.courses">

        <div class="card entry-course-card">
          <div class="card-divider">
            <span ng-bind="course.name"></span>
            <a href="" class="float-right" ng-click="vm.addEntry(week, course)">Add</a>
          </div>
        </div>

        <div class="card entry-card" ng-repeat="entry in course.entries | orderBy:'finished'"
             ng-model="entry.finished">

          <div class="card-section">
            <!-- checkbox icon, for finished status -->
            <img zf-iconic="" icon="circle-check" size="small" style="margin-right: .5rem;"
                 ng-click="vm.updateFinishedState(entry)"
                 ng-class="{'iconic-color-success': entry.finished, 'iconic-color-secondary': !entry.finished}">

            <span ng-class="{'entry-finished': entry.finished}" ng-bind="entry.name"></span>
            <img zf-iconic="" icon="action" class="float-right" size="small" ng-click="vm.onEntryEditClick(entry)">
          </div><!-- /nested card-section -->
        </div><!-- /nested card -->

      </div><!-- /ng-repeat course -->
    </div><!-- /week body -->
  </div><!-- /ng-repeat -->
</div><!-- /entries list, auth -->


<!-- term change modal -->
<div zf-modal="" id="termSelectModal" class="collapse">
  <div class="grid-block vertical" ng-controller="TermSelectModalCtrl as modalVM">

    <div class="primary title-bar">
      <div class="center title">Change Term</div>
    </div>

    <div class="grid-content padding" style="padding-top: 1rem;">
      <section class="block-list">
        <ul>
          <li ng-repeat="term in modalVM.terms()">
            <a href="" zf-close="" ng-bind="term.name"
               ng-click="modalVM.onTermSelected(term)"></a>
          </li>
        </ul>
      </section>
      <a zf-close="" class="button">Cancel</a>
    </div><!-- /grid-content -->
  </div><!-- /grid-block -->
</div><!-- /modal -->


<!-- entry actions modal -->
<div zf-modal="" id="entryActionsModal" class="collapse">
  <div class="grid-block vertical">

    <div class="primary title-bar">
      <div class="center title">Select an Action</div>
    </div>

    <div class="grid-content padding" style="padding-top: 1rem;">
      <section class="block-list">
        <ul>
          <li><a href="" zf-close="" ng-click="vm.addWeek()">Add a Week</a></li>
        </ul>
      </section>
      <a zf-close="" class="button">Cancel</a>
    </div><!-- /grid-content -->
  </div><!-- /grid-block -->
</div><!-- /modal -->
