<!-- entry actions modal -->
<div zf-modal="" id="entryActionsModal" class="collapse"
     animation-in="slideInUp fast">
  <div class="grid-block vertical">

    <div class="primary title-bar">
      <div class="center title">Select an Action</div>
    </div>

    <div class="grid-content padding" style="padding-top: 1rem;">
      <section class="block-list">
        <ul>
          <li><a href="" zf-close="" zf-open="termSelectModal">Change Term</a></li>
          <li><a href="" zf-close="" ng-click="vm.addWeek()">Add a Week</a></li>
        </ul>
      </section>
      <a zf-close="" class="button">Cancel</a>
    </div><!-- /grid-content -->
  </div><!-- /grid-block -->
</div><!-- /modal -->
