<!-- ngMessages templates -->
<script type="text/ng-template" id="error-messages">
  <div ng-message="required">This field is required.</div>
  <div ng-message="minlength">Must be at least 3 characters long.</div>
</script>

<form method="POST" id="entryForm" name="entryForm" novalidate>
  <!-- course name input -->
  <label>Name:
    <!-- name validation messages -->
    <span class="validation-error" role="alert"
          ng-messages="entryForm.name.$error"
          ng-show="entryForm.$submitted && entryForm.name.$invalid">
      <span ng-messages-include="error-messages"></span>
    </span>
    <input name="name" id="name" type="text"
           minlength="3" maxlength="16"
           placeholder="CIS-133W"
           ng-model="vm.entry.name" required>
  </label>


  <!-- course title input -->
  <label>Title:
    <!-- title validation messages -->
    <span class="validation-error" role="alert"
          ng-messages="entryForm.title.$error"
          ng-show="entryForm.$submitted && entryForm.title.$invalid">
      <span ng-messages-include="error-messages"></span>
    </span>
    <input name="title" id="title" type="text"
           minlength="3" maxlength="50"
           placeholder="JavaScript for Web Developers I"
           ng-model="vm.entry.fullName" required>
  </label>


  <!-- course term selector -->
  <div>
    <label for="term">Term:
      <!-- term validation messages -->
      <span class="validation-error" role="alert"
            ng-messages="entryForm.term.$error"
            ng-show="entryForm.$submitted && entryForm.term.$invalid">
        <span ng-messages-include="error-messages"></span>
      </span>
    </label>
    <select name="term" id="term"
            ng-options="t as t.name for t in vm.termsForSelect"
            ng-model="vm.entry.term" required>
    </select>
  </div>


  <div>
    <!-- submit button for 'create' view -->
    <button class="button success"
            ng-click="vm.submit(entryForm)"
            ng-if="vm.isCreateView()" ng-cloak
            ng-disabled="vm.working">
      Submit
    </button>

    <!-- submit button for 'update' view -->
    <button class="button success"
            ng-click="vm.submit(entryForm)"
            ng-if="vm.isUpdateView()" ng-cloak
            ng-class="{ disabled: !vm.canSaveUpdate() }"
            ng-disabled="vm.working || !vm.canSaveUpdate()">
      Update
    </button>

    <!-- cancel button -->
    <a class="button hollow" href="" ng-click="vm.cancel()">
      Cancel
    </a>

    <!-- delete button -->
    <a class="button alert float-right" href="" ng-click="vm.remove()"
       ng-if="vm.isUpdateView()" ng-cloak>
      Delete
    </a>
  </div>
</form>
